.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.navbar-links {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
}
.link {
  text-decoration: none;
  outline: none;
}

.link:visited {
  color: none;
}
.nav-logo {
  cursor: pointer;
}
