/*Text color #101010*/
/*Background color #E4E4FA*/
/*Primary color #4C4DDC*/
/*Secondary color #C8C8F4*/
/*Secondary color ##E1E1E1*/
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  animation: fadeIn 0.5s ease-in-out;
}
button {
  cursor: pointer;
  border: 1px solid #4c4ddc;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: transparent;
  font-size: 16px;
  color: white;
  background-color: #4c4ddc;
}
::-webkit-scrollbar {
  width: 8px; /* Adjust scrollbar width */
}

::-webkit-scrollbar-track {
  background: transparent; /* Hide track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Keep thumb visible */
  border-radius: 4px;
}
